---
import { actions } from "astro:actions";
import Base from "$layouts/Base.astro";
import Note from "$components/note/Note.svelte";
import Icon from "$components/Icon.astro";

export const prerender = false;

const size = 20;
const page = Number(Astro.url.searchParams.get("page")) || 1;
const series = Astro.url.searchParams.get("series");
const tags = Astro.url.searchParams.getAll("tag");

const { data, error } = await Astro.callAction(actions.note.list, { size, page, series, tags });
if (error) {
	switch (error.code) {
		default:
			return Astro.redirect("/500", 302);
	}
}

const { notes, pages, page: index, series_list, tag_list } = data;
---

<Base title="Note">
	<main class="flex flex-col grow">
		<Note client:load {notes} {pages} page={index} {size} {series_list} {tag_list} {series} {tags}>
			<Icon name="lucide:flag-triangle-right" slot="top" />
			<Icon name="lucide:arrow-left" slot="left" />
			<Icon name="lucide:arrow-right" slot="right" />
			<Icon name="lucide:ellipsis" slot="dots" />
		</Note>
	</main>
</Base>
