---
import Icon from "$components/Icon.astro";

let { locale, author, copyright } = Astro.props;
---

<footer class="flex flex-col sm:flex-row items-center justify-between gap-2 mt-8 mb-5 sm:mb-3 text-size-sm"
  style={{
    fontFamily: 'var(--monospace)',
    }}>
	<div class="flex items-center gap-1">
		{
			copyright.type != "CC0 1.0" && [
				<span>
					<Icon name="lucide:copyright" />
				</span>,
				<span>{copyright.year}</span>
			]
		}
		{
			typeof author === "string" ? (
				<span>{author}</span>
			) : !author.link ? (
				<span>{author.name}</span>
			) : (
				<a href={author.link} target="_blank" rel="noopener noreferrer">
					{author.name}
				</a>
			)
		}
		<span>|</span>
		<p>Powered by</p>
		<a href="https://github.com/Ky9oss/Huadian" aria-label="Theme" target="_blank" class="inline-flex"><Icon name="simple-icons:github" title="Huadian" inline /></a>
	</div>
</footer>
